<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/aa87ca2b-6c09-4a7b-86cf-eaccb9f55ace/resourceGroups/Game/providers/Microsoft.Web/sites/BirhdayGame</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://birhdaygame.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>birhdaygame.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BirhdayGame</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BirhdayGame</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>