<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/37bb1d30-9c8d-485b-a1c0-e76951fd34a6/resourceGroups/Midterm/providers/Microsoft.Web/sites/Gameserver</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://gameserver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>gameserver.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Gameserver</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Gameserver</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>